#root {
    display: flex;
    flex-direction: column;
    background-color: var(--color-baby-powder);
    min-height: 100dvh;
}

.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: var(--color-baby-powder);
    border-bottom: 0.1rem solid var(--color-gold);
    top: 0;
}

.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

img.filter-svg {
    filter: invert(66%) sepia(38%) saturate(1997%) hue-rotate(10deg) brightness(107%) contrast(91%);
}


.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: var(--color-eerie-black);
    position: relative;
    transition: background-color .2s ease-out;
}

header .menu-icon .navicon::before, header .menu-icon .navicon::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-eerie-black);
    transition: all .2s ease-out;
}

header .menu-icon .navicon::before {
    top: .7rem;
}

header .menu-icon .navicon::after {
    top: -.7rem;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .navbar-menu {
    display: block;
}

.menu-btn:checked ~ .navbar-menu > .nav {
    max-height: 100%;
    overflow: inherit;
}

.menu-btn:checked + .menu-icon > .navicon {
    background: transparent;
}

.menu-btn:checked + .menu-icon > .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked + .menu-icon > .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover, .nav .nav-link:active {
    color: var(--nav-item-link-hover);
    text-decoration: none;
}

.nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-gold);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-item:hover .nav-link::before, .nav .nav-item:active .nav-link::before {
    background-color: var(--color-gold);
    width: 100%;
}

/* Section */
.section {
    padding: var(--section-padding);
}

.section-header {
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
  }
  
.section-title {
    font-size: var(--section-title-font-size);
    font-family: var(--font-family);
    font-weight: var(--section-title-font-weight);
}

.section-tagline {
    color: rgb(55 65 81 / 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size-large);
    text-align: center;
}

.section-tagline + div {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.section-tagline + div > img {
    border-radius: 1.2rem;
}


.section-padding {
    padding: 0 1.5rem;
}

.mt-b {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.grid {
    display: grid;
    gap: 1.8rem;
    padding: 2rem;
}

[data-item="space-around"].grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

[data-item="space-around"].grid:first-child {
    grid-column: 2;
}

[data-item="space-around"].grid:last-child {
    grid-column: 3;
}

.grid img {
    border-radius: 1.2rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.grid .grid-item-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.grid .grid-item-tagline {
    display: flex;
    border-bottom-width: .1rem;
    border-color: var(--color-licorice);
}

.grid .img-background {
    background-color: var(--color-isabelline);
}

@media only screen and (min-width: 480px) {
    .nav {
        flex-direction: row;
        overflow: auto;
        max-height: 100%;
    }

    header .menu-icon {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    .navbar-menu {
        display: none;
        flex: 1;
    }

    .header-container {
        flex-wrap: wrap;
    }

    .header .menu-icon {
        display: block;
    }

    .header-logo {
        flex-basis: 70%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .header-logo {
        flex-basis: 79%;
    }
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}