#root {
    display: flex;
    flex-direction: column;
    background-color: var(--color-isabelline);
    min-height: 100dvh;
}

.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: var(--color-isabelline);
    top: 0;
}

.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.container.border-bottom {
    border-bottom: 0.1rem solid var(--color-gold);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.filter-svg {
    filter: invert(66%) sepia(38%) saturate(1997%) hue-rotate(10deg) brightness(107%) contrast(91%);
}

.navbar-menu {
    flex: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: var(--color-eerie-black);
    position: relative;
    transition: background-color .2s ease-out;
}

header .menu-icon .navicon::before, header .menu-icon .navicon::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-eerie-black);
    transition: all .2s ease-out;
}

header .menu-icon .navicon::before {
    top: .7rem;
}

header .menu-icon .navicon::after {
    top: -.7rem;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
}

.nav .nav-item + .nav-item {
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover {
    color: var(--nav-item-link-hover);
    text-decoration: none;
}

.nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-gold);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-gold);
    width: 100%;
}

@media only screen and (min-width: 400px) {
    .nav {
        flex-direction: row;
        overflow: auto;
        max-height: 100%;
    }
}