#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.window {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    min-width: 0;
}

.inner {
    background: transparent;
    position: relative;
    width: 100%;
    height: 6rem;
}

.another {
    display: table-cell;
    padding-left: 3rem;
    min-width: 0;
    height: 6rem;
    position: relative; 
    z-index: 986;
    vertical-align: bottom;
}

.holder {
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;
}

.wrapper {
    display: inline-block;
    padding: 0 1.5rem 0 0;
}

.wrapper button {
    background: var(--color-isabelline);
    border: .1rem solid var(--color-gold);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: var(--color-eerie-black);
    cursor: pointer;
    font-variation-settings: 'wght' 600;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
    transition: backdrop-filter 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(30, 41, 51, 0);
    display: table;
    transition: background 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.modal_cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    overflow: hidden;
    text-align: center;
}

.modal_element {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: inline-block;
    height: auto;
    background: var(--color-isabelline);
    border-radius: 1.4rem 1.4rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 2rem;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s cubic-bezier(0.6, 0.4, 0, 1), opacity .3s cubic-bezier(0.6, 0.4, 0, 1);
    will-change: transition;
}

.modal.is-visible .modal_container {
    background: rgba(17, 21, 24, 0.45);
}

.modal.is-visible .modal_container > .modal_cell > .modal_element {
    position: relative;
    transform: translate3d(0, 0, 0) scale(1) !important;
    opacity: 1 !important;
}

.modal_title {
    padding: 1.8rem 2.4rem 2.4rem;
}

.modal_title .user_email {
    color: var(--color-eerie-black);
    font-variation-settings: 'wght' 600;
    letter-spacing: normal;
}

.modal_title + .button {
    border-radius: 50%;
    background: none;
    border: .1rem solid transparent;
    color: #444746;
    height: 4rem;
    width: 4rem;
    outline: 0;
    padding: .8rem;
    cursor: pointer;
    position: absolute;
    right: .8rem;
    top: .8rem;
}

.modal_body {
    position: relative;
    padding: 1.8rem;
}

.modal_title ~ .modal_body {
    padding-top: 2.2rem;
}

.modal_body > button {
    background: var(--color-dark-green);
    border: none;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    color: var(--color-off-white);
    font-variation-settings: 'wght' 600;
    font-size: var(--font-size-large);
}

.modal_body .salutation {
    font-size: var(--font-size-x-large);
    font-variation-settings: 'wght' 400;
    margin-top: .8rem;
    margin-bottom: .8rem;
    color: var(--color-eerie-black);
}

.modal_body .salutation + div {
    display: block;
}

.modal_body .salutation + div .profile--link {
    display: block;
    margin: .2rem auto 1.6rem auto;
}

.modal_body .salutation + div .profile--link a {
    background: none;
    display: inline-block;
    border-radius: 10rem;
    border: .1rem solid var(--color-eerie-black);
    padding: .9rem 2.3rem;
}

.profile--link a > div {
    max-width: 32.6rem;
    font-variation-settings: 'wght' 600;
    font-size: var(--font-size-small);
}

.modal_body .link-container {
    margin: 1.2rem 0 0;
    max-height: 6rem;
}

.modal_body .link-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.modal_body .link-container .logout-link {
    display: inline-block;
    border-radius: .4rem;
    vertical-align: middle;
    width: calc(50%);
}

.modal_body .link-container .logout-link form {
    width: 100%;
    height: 6rem;
    border: .1rem solid transparent;
    position: relative;
    background: var(--color-baby-powder);
    padding: 0 1.5rem;
    border-radius: .4rem;
}

.logout-link form .logout-icon {
    padding: 1.7rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #444746;
}

.logout-link form .logout-icon + button {
    display: inline-block;
    vertical-align: middle;
    font-variation-settings: 'wght' 600;
    background: none;
    border: none;
    padding: 0;
    margin-left: .8rem;
    width: calc(100% - 5rem);
    cursor: pointer;
}

.modal_footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
}

.modal_element .modal_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.modal_element .modal_footer > span {
    flex: 1 0 50%;
    position: relative;
}

.modal_element .modal_footer .footer_tos {
    text-align: left;
}

.modal_element .modal_footer .footer_policy {
    text-align: right;
}

.modal_element .modal_footer .footer_container {
    container: footerContainer / inline-size;
    display: block;
    width: 100%;
    height: 100%;
}

.footer_container span {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.footer_container span.pp {
    justify-content: flex-end;
}

.footer_container span a {
    max-width: 35rem;
    padding: .5rem .4rem;
    font-size: var(--font-size-x-small);
    font-variation-settings: 'wght' 400;
    color: var(--color-grey);
}

.footer_container .tos {
    position: relative;
}

.footer_container .tos::before {
    content: "â—";
    font-size: .6rem;
    left: -.2rem;
    position: absolute;
    top: calc(50% - 10.5px);
}

.footer_container ._m-r-3 {
    margin-right: .8rem;
}

.footer_container ._m-l-3  {
    margin-left: .8rem;
}

@media (min-width: 321px) {
    .profile--link a > div {
        display: inline-block;
    }
}

@media (min-width: 576px) {
    .modal_cell {
        display: table-cell;
        vertical-align: middle;
        padding: 5.4rem;
    }

    .modal_element {
        border-radius: 1.4rem;
        opacity: 0;
        width: 38rem;
        position: relative;
        transform: translate3d(0, 0, 0) scale(0.95);
    }

    .modal_element .modal_footer {
        position: relative;
    }
}