/*** 1. GLOBAL ***/

/* Reset / Josh W. Cormeau
============================= */
/* Variables
  ============================= */

:root {
    --color-off-white: #faf9f6;
    --color-baby-powder: #fffffc;
    --color-coquelicot: #ff3f00;
    --color-vermilion: #f64740;
    --color-licorice: #1f1300;
    --color-eerie-black: #181f1c;
    --color-phthalo-green: #123534;
    --color-isabelline: #f4f3ee;
    --color-light-grey: #f2f2f3;
    --color-medium-grey: #b1b0b5;
    --color-blue: #0066ff;

    --error-color: var(--color-vermilion);
    --text-color: var(--color-eerie-black);
    --valid-color: var(--color-phthalo-green);

    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 3rem;
    --font-size-xxx-large: 4.8rem;

    --font-weight-regular: 400;
    --font-weight-bold: 800;

    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

img, video, canvas, svg, picture {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

:is(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a.link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: color .1s;
}

a.link--black {
    color: var(--color-black);
}

a.link--primary {
    color: var(--color-blue);
}

a.link--primary:hover {
    text-decoration: underline;
}