{% extends 'base.html' %}
{% load static %}
{% load bleach_tags %}

{% block title %}Billing{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/billing.css' %}">
{% endblock css %}


{% block content %}
<main>
    <div class="wrapper">
        <article>
            <header class="text-center">
                <h1 class="page-title">
                    Get the most out of your account with the right subscription.
                </h1>
                <p class="subtitle">
                    Boot your farm's productivity with Divergent AG. Get real-time analytics tailored to your location. Subscribe now.
                </p>
            </header>
            <ul class="even-columns pricing">
                {% for plan in plans %}
                    <li class="plan plan--{{ plan.0.name|lower }}">
                        <h2 class="plan__title">{{ plan.0.product_name}} ({{ plan.0.name }})</h2>
                        <p class="plan__price">{{ plan.0.price }} <span>/month</span></p>
                        {% if plan.0.description %}
                            <div class="description">
                                {{ plan.0.description|bleach }}
                            </div>
                        {% endif %}
                        <button class="button" data-checkout-url="{{ plan.1 }}">Add subscription</button>
                    </li>
                {% empty %}
                    <li class="no_plans">No plans available at the moment.</li>
                {% endfor %}
            </ul>
        </article>
    </div>
</main>

<script>
    const prices = document.querySelectorAll('.plan__price');
    prices.forEach((price) => {
        let amount = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KES',
        }).format((price.textContent.split('/')[0] / 100));
        
        price.innerHTML = `${amount} <span>/month</span>`;
    });
    const buttons = document.querySelectorAll('.button');
    buttons.forEach((button) => {
        button.addEventListener('click', (event) => {
            if (button.dataset.checkoutUrl) {
                window.LemonSqueezy.Url.Open(button.dataset.checkoutUrl);
            }
        })
    })
</script>
{% endblock content %}