{% extends 'base.html' %}
{% load static %}
{% load bleach_tags %}

{% block title %}Change Plan{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/billing.css' %}">
{% endblock css %}

{% block content %}
<main>
    <div class="wrapper">
        <article>
            <header class="text-center">
                <h1 class="page-title">Change Plans </h1>
                <p class="subtitle">Boot your farm's productivity with Divergent AG. Get real-time analytics tailored to your location. Subscribe now.</p>
            </header>
            <ul class="even-columns pricing">
                {% for plan in plans %}
                    <li class="plan plan--{{ plan.name|lower }}">
                        <h2 class="plan__title">{{ plan.product_name}} ({{ plan.name }})</h2>
                        <p class="plan__price">{{ plan.price }} <span>/month</span></p>
                        {% if plan.description %}
                            <div class="plan__description">
                                {{ plan.description|bleach }}
                            </div>
                        {% endif %}
                        {% if plan.id == current_sub.plan.id %}
                            <button class="button plan__current" disabled>Current plan</button>
                        {% else %}
                            <button class="button" id="{{ plan.id }}" data-current-plan="{{ current_sub.plan.id }}">Switch to this plan</button>
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="no_plans">No plans available at the moment.</li>
                {% endfor %}
            </ul>
        </article>
    </div>
</main>

<script>
    const prices = document.querySelectorAll('.plan__price');
    prices.forEach((price) => {
        let amount = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KES',
        }).format((price.textContent.split('/')[0] / 100));
        
        price.innerHTML = `${amount} <span>/month</span>`;
    });
    const buttons = document.querySelectorAll('.button');
    buttons.forEach((button) => {
        if (!button.disabled) {
            button.addEventListener('click', async (event) => {
                button.classList.add('loading');
                setTimeout(() => {
                    button.classList.remove('loading');
                }, 3000)
            })
        }
    });

    function getCookie(name){
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i];
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock content %}