{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/dashboard.css' %}">
<!-- Mapbox cdn -->
<script src='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css'/>
<!-- Mapbox draw cdn plugin -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css" type="text/css">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}
<header>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn--m">Log out</button>
    </form>
</header>
<div id="dashboard--contanier">
    <div id="map"></div>
</div>
{{ access_token|json_script:'token-data'}}
<script>
    const token = JSON.parse(document.getElementById('token-data').textContent);
    mapboxgl.accessToken = token;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/satellite-streets-v12',
        center: [36.8219, -1.2921],
        zoom: 12
    });

    const draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: true,
            trash: true,
        },
        defaultMode: 'draw_polygon',
    })

    map.addControl(draw)
    map.on('draw.create', (e) => {
        console.log(draw.getAll())
    })
</script>
<!-- <script type="module" src="{% static 'index-bundle.js' %}"></script> -->
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}"> Log in</a>
{% endif %}
{% endblock content %}