{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static manifest.css.0 %}">
{% endblock css%}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.email }}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
<div id="root"></div>
<script type="module" src="{% static 'index-bundle.js' %}"></script>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}"> Log in</a>
{% endif %}
{% endblock content %}