<div class="subscription-info" id="{{ subscription.lemonsqueezy_id }}">
    <header class="subscription-info_title">
        <div class="product_title">
            <h2>{{ subscription.plan.product_name }} ({{ subscription.plan.name }})</h2>
        </div>
        {% if subscription.status != 'cancelled' and subscription.status != 'expired' and subscription.status != 'unpaid'%}
            <div class="change_product">
                <span><a href="{% url 'analysis:change_plan' subscription.plan.id %}" class="link link--btn">Change plan</a></span>
                <div class="subscription_actions">
                    <button class="btn btn--icon btn--transparent dropbtn" onclick="toggleDropdown(event)" id="{{ forloop.counter }}">
                        <!-- <svg width="25px" height="25px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg> -->
                        <span>&#10247;</span>
                    </button>
                    <div class="dropdown-content" id="dropdown-content-{{ forloop.counter }}">
                        <menu>
                            {% if subscription.is_paused %}
                            <a onclick="updateSub(event, 'resume')" id="unpause-{{ subscription.lemonsqueezy_id }}">Unpause payments</a>
                            {% else %}
                            <a onclick="updateSub(event)" id="pause-{{ subscription.lemonsqueezy_id }}">Pause payments</a>
                            {% endif %}
                            <a class="portal" onclick="customerPortal(event)" id="portal-{{ subscription.lemonsqueezy_id }}">
                                Customer portal
                            </a>
                            <a onclick="updatePayment(event)" id="update-{{ subscription.lemonsqueezy_id }}">Update payment method</a>
                            <button class="btn btn--transparent" onclick="openModal()">Cancel subscription</button>
                        </menu>
                    </div>
                </div>
            </div>
        {% endif %}
    </header>
    <div class="subscription-info_content">
        <div class="subscription-info_price">
            {% if subscription.ends_at %}
            {% else %}
                {% if subscription.plan.is_usage_based %}
                    {% if subscription.plan.interval_count and subscription.plan.interval_count != 1 %}
                        <p><span class="price" id="price-{{ subscription.lemonsqueezy_id }}">{{ subscription.price }}</span>/unit every {{ subscription.plan.interval_count }} {{ subscription.plan.interval }}</p>
                    {% else %}
                        <p><span class="price" id="price-{{ subscription.lemonsqueezy_id }}">{{ subscription.price }}</span>/unit every {{ subscription.plan.interval }}</p>
                    {% endif %}
                {% else %}
                    {% if subscription.plan.interval_count and subscription.plan.interval_count != 1 %}
                        <p><span class="price" id="price-{{ subscription.lemonsqueezy_id }}">{{ subscription.price }}</span> every {{ subscription.plan.interval_count }} {{ subscription.plan.interval }}</p>
                    {% else %}
                        <p><span class="price" id="price-{{ subscription.lemonsqueezy_id }}">{{ subscription.price }}</span> every {{ subscription.plan.interval }}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="subscription-info_status">
            <span class="bullet">&bull;</span>
            {% if subscription.is_paused %}
                <div class="badge badge--paused">
                    <span>Paused</span>
                </div>
            {% else %}
            <div class="badge badge--{{ subscription.status }}">
                <span>{{ subscription.status_formatted }}</span>
            </div>
            {% endif %}
        </div>
        <div class="subscription-info_date">
            <span class="bullet">&bull;</span>
            {% if subscription.ends_at %}
                <input type="hidden" name="ends_at" value={{ subscription.ends_at }} id="ends_at-{{ subscription.id }}">
            {% endif %}
            {% if subscription.trial_ends_at %}
                <input type="hidden" name="trial_ends_at" value={{ subscription.trial_ends_at }} id="trial_ends_at-{{ subscription.id }}">
            {% endif %}
            <p class="date_msg" id="date_msg-{{ subscription.lemonsqueezy_id }}">Renews on {{ subscription.renews_at }}</p>
        </div>
    </div>
</div>