{% extends 'base.html' %}
{% load static %}
{% block title %}User Profile{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/profile.css' %}">
{% endblock css %}

{% block content %}

<div class="wrapper", id="profile">
    <div>
        <div class="container">
            <header>
                <a href="{% url 'analysis:dashboard' %}" id="back">
                    <svg fill="currentColor" width="30px" height="30px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <title>chevron-left</title>
                        <path d="M12.061 16l9.471-9.47c0.134-0.136 0.218-0.322 0.218-0.528 0-0.415-0.336-0.751-0.751-0.751-0.207 0-0.394 0.083-0.529 0.218l-9.999 10c-0.136 0.136-0.22 0.323-0.22 0.53s0.084 0.395 0.22 0.53l9.999 10.001c0.136 0.136 0.324 0.22 0.531 0.22 0.415 0 0.751-0.336 0.751-0.751 0-0.207-0.084-0.395-0.22-0.531v0z"></path>
                    </svg>
                </a>
                <div class="profile-image">
                    <button type="button">
                        {% if user.full_name %} {{ user.full_name.0 }} {% else %} {{ user.email.0|upper }} {% endif %}
                    </button>
                </div>
                <div class="salutation">
                    Welcome, {% if user.full_name %} {{ user.full_name }} {% else %} {{ user.email }} {% endif %}
                </div>
                <div class="title">
                    Update your profile and set your account preferences.
                </div>
            </header>
        </div>
        <div class="container container-xl">
            <div class="container_sidebar-wrapper">
                <div class="container_sidebar-sidebar">
                    <div class="sidebar">
                        <nav>
                            <ul>
                                <li><a id="general" class="link">General</a></li>
                                <li><a id="subscription" class="link">Subscription</a></li>
                                <li><a id="reports" class="link">Reports</a></li>
                                <li><a id="delete" class="link">Delete Account</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="container_sidebar-content">
                    <div data-tab="general">
                        <div class="content_wrapper">
                            <div class="content">
                                <div class="content_title">
                                    <header>
                                        <h2>Basic info</h2>
                                        <div>
                                            General information about yourself.
                                        </div>
                                    </header>
                                </div>
                                <div class="content_user_wrapper">
                                    <div>
                                        <a href="{% url 'analysis:edit_profile' user.id %}?field=name">
                                            <div class="link_container">
                                                <div class="user_wrapper">
                                                    <div class="title">
                                                        <span class="heading">
                                                            Name
                                                        </span>
                                                    </div>
                                                    <div class="user">
                                                        <div>
                                                            {% if user.full_name %}
                                                                <div class="user_content">
                                                                    {{ user.full_name|capfirst }}
                                                                </div>
                                                            {% else %}
                                                                <div class="user_content_empty">
                                                                    Not set
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chev_icon">
                                                    <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.343 185.343" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path style="fill:currentColor;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                                                                    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                                                                    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="content_spacing">
                                        <div class="spacer"></div>
                                    </div>
                                    <div>
                                        <a href="{% url 'analysis:edit_profile' user.id %}?field=birthday">
                                            <div class="link_container">
                                                <div class="user_wrapper">
                                                    <div class="title">
                                                        <span class="heading">
                                                            Birthday
                                                        </span>
                                                    </div>
                                                    <div class="user">
                                                        <div>
                                                            {% if user.birth_date %}
                                                                <div class="user_content">
                                                                    {{ user.birth_date|date:"d N, Y" }}
                                                                </div>
                                                            {% else %}
                                                                <div class="user_content_empty">
                                                                    Not set
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chev_icon">
                                                    <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.343 185.343" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path style="fill:currentColor;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                                                                    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                                                                    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="content_spacing">
                                        <div class="spacer"></div>
                                    </div>
                                    <div>
                                        <a href="{% url 'analysis:edit_profile' user.id %}?field=email">
                                            <div class="link_container">
                                                <div class="user_wrapper">
                                                    <div class="title">
                                                        <span class="heading">
                                                            Email
                                                        </span>
                                                    </div>
                                                    <div class="user">
                                                        <div>
                                                            {% if user.email is None %}
                                                                <div class="user_content_empty">
                                                                    Not set
                                                                </div>
                                                            {% else %}
                                                                <div class="user_content">
                                                                    {{ user.email }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chev_icon">
                                                    <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.343 185.343" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path style="fill:currentColor;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                                                                    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                                                                    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="content_spacing">
                                        <div class="spacer"></div>
                                    </div>
                                    <div>
                                        <div id="date_joined">
                                            <div class="link_container">
                                                <div class="user_wrapper">
                                                    <div class="title">
                                                        <span class="heading">
                                                            Date Joined
                                                        </span>
                                                    </div>
                                                    <div class="user">
                                                        <div>
                                                            <div class="user_content">
                                                                {{ user.created_at|date:"d N Y P" }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_wrapper">
                            <div class="content">
                                <div class="content_title">
                                    <header>
                                        <h2>
                                            Password
                                        </h2>
                                        <div>A secure password helps protect your account.</div>
                                    </header>
                                </div>
                                <div class="content_user_wrapper">
                                    <div>
                                        <a href="{% url 'analysis:edit_profile' user.id %}?field=password">
                                            <div class="link_container">
                                                <div class="user_wrapper">
                                                    <div class="user">
                                                        <div>
                                                            <div class="user_content">
                                                                ••••••••••••••••
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chev_icon">
                                                    <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.343 185.343" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path style="fill:currentColor;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                                                                    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                                                                    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab="reports">
                        <div class="content_wrapper">
                            <div class="content">
                                <div class="content_title">
                                    <header>
                                        <h2>Reports</h2>
                                        <div>Your generated reports.</div>
                                    </header>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="content_spacing table">
                                        <div class="spacer"></div>
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Report</th>
                                                <th>Date Uploaded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for report in page_obj %}
                                                <tr>
                                                    <td data-label="No.">{{ forloop.counter }}</td>
                                                    <td data-label="Report">
                                                        <a href="{% url 'analysis:download_file' report.id %}" download>
                                                            {{ report.name }}
                                                        </a>
                                                    </td>
                                                    <td data-label="Date">{{ report.created_at|date:"d N Y P" }}</td>
                                                </tr>
                                            {% empty %}
                                                <div class="no-reports">
                                                    <div>
                                                        <svg height="90px" width="90px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 279.967 279.967" xml:space="preserve">
                                                            <path style="fill:currentColor;" d="M272.467,161.817c4.142,0,7.5-3.358,7.5-7.5V69.458c0-4.142-3.358-7.5-7.5-7.5H60.907
                                                                c-4.142,0-7.5,3.358-7.5,7.5V220.58c0,10.441-8.495,18.937-18.937,18.937h-0.534C23.495,239.516,15,231.021,15,220.58V40.451
                                                                h215.204c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H7.5c-4.142,0-7.5,3.358-7.5,7.5V220.58
                                                                c0,18.713,15.224,33.937,33.937,33.937h0.534h201.198c24.426,0,44.299-19.873,44.299-44.299c0-4.142-3.358-7.5-7.5-7.5
                                                                s-7.5,3.358-7.5,7.5c0,16.156-13.144,29.299-29.299,29.299H62.619c3.653-5.412,5.788-11.93,5.788-18.937V76.958h196.56v77.359
                                                                C264.967,158.459,268.325,161.817,272.467,161.817z"/>
                                                        </svg>
                                                        <span>You don't have any reports generated yet.</span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                        </span>
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab="subscription">
                        <div class="content_wrapper">
                            <div class="content">
                                <div class="content_title">
                                    <header>
                                        <h2>Your plan</h2>
                                        <div>Information about your chosen package deal.</div>
                                    </header>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="content_spacing" style="padding-right: 1.6rem;">
                                        <div class="spacer"></div>
                                    </div>
                                    <div class="panel_body">
                                        <div id="account_subscription_plan_boxes">
                                            {% for subscription in subscriptions %}
                                                <div class="subscription-info">
                                                    <header class="subscription-info_title">
                                                        <div class="product_title">
                                                            <h2>{{ subscription.plan.product_name }} ({{ subscription.plan.name }})</h2>
                                                        </div>
                                                        {% if subscription.status == 'active' %}
                                                            <div class="change_product">
                                                                <span><a href="{ url 'analysis:change_plan' subscription.plan.id }" class="link link--btn">Change plan</a></span>
                                                                <div class="subscription_actions">
                                                                    <button class="btn btn--icon btn--transparent dropbtn" onclick="toggleDropdown()">
                                                                        <svg width="25px" height="25px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="dropdown-content" id="dropdown-content">
                                                                        <menu>
                                                                            <a href="">Pause payments</a>
                                                                            <a href="" id="portal">Customer portal</a>
                                                                            <a href="">Update payment method</a>
                                                                            <a href="">Cancel subscription</a>
                                                                        </menu>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </header>
                                                    <div class="subscription-info_content">
                                                        <div class="subscription-info_price">
                                                            {% if subscription.ends_at %}
                                                            {% else %}
                                                                {% if subscription.plan.is_usage_based %}
                                                                    {% if subscription.plan.interval_count and subscription.plan.interval_count != 1 %}
                                                                        <p><span id="price">{{ subscription.price }}</span>/unit every {{ subscription.plan.interval_count }} {{ subscription.plan.interval }}</p>
                                                                    {% else %}
                                                                        <p><span id="price">{{ subscription.price }}</span>/unit every {{ subscription.plan.interval }}</p>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if subscription.plan.interval_count and subscription.plan.interval_count != 1 %}
                                                                        <p><span id="price">{{ subscription.price }}</span> every {{ subscription.plan.interval_count }} {{ subscription.plan.interval }}</p>
                                                                    {% else %}
                                                                        <p><span id="price">{{ subscription.price }}</span> every {{ subscription.plan.interval }}</p>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="subscription-info_status">
                                                            <span class="bullet">&bull;</span>
                                                            {% if subscription.is_paused %}
                                                                <div class="badge badge-paused">
                                                                    <span>Paused</span>
                                                                </div>
                                                            {% else %}
                                                            <div class="badge badge--{{ subscription.status }}">
                                                                <span>{{ subscription.status_formatted }}</span>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="subscription-info_date">
                                                            <span class="bullet">&bull;</span>
                                                            {% if subscription.ends_at %}
                                                                <input type="hidden" name="ends_at" value={{ subscription.ends_at }} id="ends_at">
                                                            {% endif %}
                                                            {% if subscription.trial_ends_at %}
                                                                <input type="hidden" name="trial_ends_at" value={{ subscription.trial_ends_at }} id="trial_ends_at">
                                                            {% endif %}
                                                            <p id="date_msg">Renews on {{ subscription.renews_at }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <div id="account_subscription_plan-info">
                                                    <div>
                                                        <div id="account_subscription_plan-info_name">Free</div>
                                                        <div id="account_subscription_plan-info_price">KES 0/month</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab="delete">
                        <div class="content_wrapper">
                            <div class="content">
                                <div class="content_title">
                                    <header>
                                        <h2>Delete Account</h2>
                                        <div>Delete your account and all the associated data permanently.</div>
                                    </header>
                                </div>
                                <div class="content_user_wrapper">
                                    <div class="panel_body">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleDropdown() {
        document.getElementById('dropdown-content').classList.toggle('show');
    }

    function formatPrice(priceInCents) {
        const shillings = parseFloat(priceInCents) / 100;
        return new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KES',
            minimumFractionDigits: shillings % 1 !== 0 ? 2 : 0,
        }).format(shillings);
    }
    function formatDate(date) {
        return date ? new Date(date).toLocaleString('en-US', {
            day: '2-digit',
            month: 'short',
            year: 'numeric',
        }) : '';
    }
    // Format the message displayed in regards to the renewwal or expiration dates.
    const msg = document.getElementById('date_msg');
    let date = msg.textContent.split(' ')[2];
    date = formatDate(date);
    msg.innerText = `Renews on ${date}`;

    // Format the display of the price value.
    const price_msg = document.getElementById('price');
    price_msg.innerText = formatPrice(price_msg.textContent);



    const links = document.querySelectorAll('li > a');
    let activeDiv;
    let activeLink;
    if (window.location.search.length > 0) {
        activeLink = document.getElementById('reports');
        activeDiv = document.querySelector('[data-tab="reports"]');
    } else {
        activeDiv = document.querySelector('[data-tab="general"]');
        activeLink = links[0];
    }
    
    activeDiv.classList.add('is-visible');
    activeLink.classList.add('is-active');

    links.forEach((elem) => {
        elem.addEventListener('click', (e) => {
            activeLink.classList.remove('is-active');
            activeLink = elem;
            activeLink.classList.add('is-active');
            activeDiv.classList.remove('is-visible');
            activeDiv = document.querySelector(`[data-tab="${activeLink.id}"]`);
            activeDiv.classList.add('is-visible');
        })
    });
</script>
{% endblock content %}