{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/auth.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <header>
        <h2>Upload Report File For The Desired User</h2>
    </header>
    <main>
        <div class="wrapper">
            {{ form.non_field_errors }}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {% if field.auto_id == 'id_file' %}
                            <div class="presentation">
                                <label for="{{field.auto_id}}">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                            <polyline points="17 8 12 3 7 8"></polyline>
                                            <line x1="12" x2="12" y1="3" y2="15"></line>
                                        </svg>
                                    </span>
                                    <span class="info">Choose report file(s) to upload:</span>
                                </label>
                                {{ field }}
                                {{ field.errors }}
                                <span class="tag">Accepts .pdf files</span>
                            </div>
                        {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                        <p class="form-help" id="{{ field.auto_id }}_helptext">
                            {{ field.help_text|safe }}
                        </p>
                        {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="fieldWrapper">
                    <button type="submit" class="btn btn--m btn--primary">Upload</button>
                </div>
            </form>
            <svg data-svg="del" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 6h18"></path>
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                <line x1="10" x2="10" y1="11" y2="17"></line>
                <line x1="14" x2="14" y1="11" y2="17"></line>
            </svg>
            <svg data-svg="rec" xmlns="http://www.w3.org/2000/svg" width="66.66666666666667" height="66.66666666666667" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
            </svg>
        </div>
    </main>
</div>

<script>
    const input = document.getElementById("id_file");
    const tag = document.querySelector(".tag");
    const label = document.querySelector('label[for="id_file"]');
    const del = document.querySelector('[data-svg="del"]');
    const svg = document.querySelector('[data-svg="rec"]');
    const presentation = document.querySelector('.presentation');

    function removeFile(index) {
        const dt = new DataTransfer();
        const input = document.getElementById("id_file");
        const { files } = input;
        console.log(index);
        for (let i = 0; i < files.length; i++) {
            if (index !== i){
                dt.items.add(files[i]);
            } 
        }
        console.log(dt.files);
        input.files = dt.files
        input.dispatchEvent(new Event('change', { bubbles: true }));
    }
    
    function updateDocDisplay() {
        const curFiles = input.files;
        if (curFiles.length > 0) {
            tag.classList.add('not-visible');
            label.classList.add('not-visible');
            const elem = document.getElementById('preview');
            if (elem) elem.remove();
            const preview = document.createElement('div');
            preview.classList.add('preview');
            preview.setAttribute('id', 'preview');

            for (let count = 0; count < curFiles.length; count++) {
                const svgClone = svg.cloneNode(true);
                const delClone = del.cloneNode(true);
                const container = document.createElement('div');
                container.setAttribute('id', `${count}`);
                container.classList.add('prev--container');
                const childOne = document.createElement('div');
                const childTwo = document.createElement('div');
                
                const span = document.createElement('span');
                span.textContent = curFiles[count].name;
                const btn = document.createElement('button');
                delClone.style.display = 'block'
                btn.appendChild(delClone);
                btn.addEventListener('click', (e) => {
                    e.preventDefault();
                    const elem = document.getElementById(`${count}`);
                    preview.removeChild(elem);
                    removeFile(count);
                }, false);

                childTwo.appendChild(span);
                childTwo.appendChild(btn);
                childOne.appendChild(svgClone)
                svgClone.style.display = 'block';
                container.appendChild(childOne)
                container.appendChild(childTwo)
                preview.appendChild(container);
            }
            presentation.appendChild(preview);
        } else {
            tag.classList.remove('not-visible');
            label.classList.remove('not-visible');
            const elem = document.getElementById('preview');
            if (elem) elem.remove();
        }
    }

    input.addEventListener('change', updateDocDisplay);

</script>
{% endblock content %}