#root {
    display: flex;
    flex-direction: column;
    background-color: var(--color-baby-powder);

    &:has(#error-page) {
        background-color: var(--color-red);
    }
}

#error-page {
    align-self: center;
    text-align: center;
    height: 100dvh;
    background-color: var(--color-gold);

    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
    }

    & h1 {
        --min-font-size: calc(var(--font-size-xxx-large) + .7rem);
        --max-font-size: calc(var(--font-size-xxx-large) + 3rem);
        --scaler: 10vw;
        color: var(--color-eerie-black);
        font-size: clamp(var(--min-font-size), var(--scaler), var(--max-font-size));
        font-variation-settings: 'wght' 800;
        letter-spacing: -.2rem;
        margin-bottom: 2rem;
        white-space: normal;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & p {
        font-size: var(--font-size-small);
        color: var(--color-eerie-black);
        padding-right: 1rem;
        padding-left: 1rem;
        font-variation-settings: 'wght' 500;

        &.error--type {
            text-transform: uppercase;
            font-variation-settings: 'wght' 600;
            margin-top: 1rem;
        }
    }
}

.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: var(--color-baby-powder);
    /* border-bottom: 0.1rem solid var(--color-gold); */
    top: 0;
    z-index: 2;
}

.header-scrolled {
    box-shadow: 11px 15px 29px 0 rgba(48, 48, 48, .07);
}

.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    transition: max-height var(--transition-duration) var(--transition-cubic-bezier);
}

header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: var(--color-eerie-black);
    position: relative;
    transition: background-color .2s ease-out;
}

header .menu-icon .navicon::before, header .menu-icon .navicon::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-eerie-black);
    transition: all .2s ease-out;
}

header .menu-icon .navicon::before {
    top: .7rem;
}

header .menu-icon .navicon::after {
    top: -.7rem;
}

.header-logo > a > svg {
    color: var(--color-gold);
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .navbar-menu {
    display: block;
}

.menu-btn:checked ~ .navbar-menu > .nav {
    max-height: 100%;
    overflow: inherit;
}

.menu-btn:checked + .menu-icon > .navicon {
    background: transparent;
}

.menu-btn:checked + .menu-icon > .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked + .menu-icon > .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    margin: var(--nav-item-margin);
}


.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover, .nav .nav-link:active {
    color: var(--nav-item-link-hover);
    text-decoration: none;
}


.nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-gold);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-item:hover .nav-link::before, .nav .nav-item:active .nav-link::before {
    background-color: var(--color-gold);
    width: 100%;
}

.nav .nav-item > a.active {
    color: var(--nav-item-link-hover);
}

.nav  .nav-item > a.active::before {
    background-color: var(--color-gold);
    width: 100%;
}

/* Section */

.row, .footer-row {
    display: flex;
    flex-direction: column;
}

.section-body {
    padding: var(--section-body-padding);
}

.section-hero .section-body {
    padding: 10rem 2rem 7rem;
}

.section-hero .section-inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    min-height: 75svh;
}

.section-hero::after {
    background-color: #ffa1a1;
    content: " ";
    display: block;
    height: .7rem;
    width: 5rem;
    margin: 1rem auto 2rem;
}

.section-inner h1.headline {
    --min-font-size: calc(var(--font-size-xxx-large) + .7rem);
    --max-font-size: calc(var(--font-size-xxx-large) + 3rem);
    --scaler: 10vw;
    color: var(--color-eerie-black);
    font-size: clamp(var(--min-font-size), var(--scaler), var(--max-font-size));
    font-variation-settings: 'wght' 800;
    letter-spacing: -.2rem;
    margin-bottom: 3rem;
    white-space: normal;
    margin-right: 1rem;
}

.section-inner h1.headline span {
    position: relative;
    color: var(--color-gold);
    white-space: pre-line;
}

.section-inner h1.headline span svg {
    position: absolute;
    width: 90%;
    right: 0;
    bottom: -1.5rem;
}


.section-inner h1.headline + p {
    font-size: var(--font-size-small);
    color: var(--color-grey);
    padding-right: 3rem;
}

.section-inner .mobile-subheading {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
}

.section-inner .subheading {
    font-size: var(--font-size-small);
    color: var(--color-grey);
}

.button-wrapper, .mobile-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 3rem;
}

.mobile-button-wrapper {
    align-items: center;
}

.button-primary {
    background-color: var(--color-isabelline);
    border-radius: 4rem;
    color: var(--color-eerie-black);
    font-variation-settings: 'wght' 500;
    text-align: center;
    transition: background-color .1s;

    &:hover, &:focus {
        background-color: var(--color-gold);

        .button-primary--overlay {
            background-color: hsl(42, 100%, 60%);
            transform: translate(-.8rem, -.8rem);
        }

        .button-primary--icon {
            transform: translateX(.8rem);
        }
    }

}

.button-primary--overlay {
    /* Match the border radius with the outside div for cleaner transform operation*/
    border-radius: 4rem;
    background-color: var(--color-isabelline);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
    padding: 1.6rem 4rem;
    transition: all .28s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.button-primary--icon {
    transition: all .28s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.card-hero {
    display: flex;
    width: 100%;
    gap: 2rem;
    height: 50rem;
}

.col-1-3 {
    min-width: 9rem;
    max-width: 16.7rem;
}

.card-hero .card-image img {
    height: 30rem;
    border-radius: 0 3rem;
    object-fit: cover;
}

.col-1-3:nth-child(2) {
    align-self: center;
}

.section {
    padding: var(--section-padding);
}

.section-header {
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
  }
  
.section-title {
    font-size: var(--section-title-font-size);
    font-family: var(--font-family);
    font-weight: var(--section-title-font-weight);
}

.section-tagline {
    color: #6c6c89;
    font-family: var(--font-family);
    font-variation-settings: 'wght' 400;
    font-size: var(--font-size-large);
    line-height: 1.7;
    text-align: center;
}

#services .section-tagline {
    margin-top: 1rem;
}

.section-tagline + div {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.section-tagline + div > img {
    border-radius: 1.2rem;
}


.section-padding {
    padding:  1.5rem;
}

.row {
    & > li {
        margin: 0 0 3rem;
        width: 100%
    }

    & .card-services {
        & .card-outer {
            position: relative;
            overflow: hidden;
        }

        /* &:hover .card-outer {
            transform: scale(0.95);
        } */

        & .card-services-image {
            & img {
                height: 30rem;
                width: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }
        }

        /* &:hover {
            & .card-services-image {
                transform: scale(1.2);
                transition: var(--transition-duration) var(--transition-cubic-bezier);
            }
        } */

        & .card-inner {
            position: relative;
            top: -.1rem;
            left: -.1rem;
            right: -.1rem;
            bottom: -.1rem;
            z-index: 1;
            transition: var(--transition-duration) var(--transition-cubic-bezier);
        }

        /* &:hover .card-inner {
            background-color: rgba(0, 0, 0, 0.7);
        } */

        & .card-title {
            text-align: center;
            opacity: 1;
            height: 100%;
            position: relative;

            & span {
                --font-color: var(--color-errie-black);
                display: block;
                padding: 2rem 1rem 0 1rem;
                color: var(--font-color);

                &::after {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        &:hover .card-title {
            opacity: 1;
        }

        & .description {
            margin-top: .8rem;

            & > .info {
                color: #6c6c89;
                font-size: var(--font-size-small);
                font-family: var(--font-family);
                font-variation-settings: 'wght' 400;
                text-align: center;
            }
        }
    }
}

.mt-b {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.grid {
    display: grid;
    gap: 1.8rem;
    padding: 2rem;
}

[data-item="space-around"].grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

[data-item="space-around"].grid:first-child {
    grid-column: 2;
}

[data-item="space-around"].grid:last-child {
    grid-column: 3;
}

.grid img {
    border-radius: 1.2rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.grid .grid-item-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.grid .grid-item-tagline {
    display: flex;
    border-bottom-width: .1rem;
    border-color: var(--color-licorice);
}

.grid .img-background {
    background-color: var(--color-isabelline);
}

/* Basic Form */
.post-comments {
    /* width: 80%; */
    margin-bottom: auto;

    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-title {
        font-variant: small-caps;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .fieldErrors {
        color: var(--error-color);
        font-size: var(--font-size-small);
        padding-left: 1rem;
    }

    .is-submitting {

        & > .btn::after {
            opacity: 1;
            animation: spin 1s linear infinite;
        }

        & > .btn--primary {
            color: var(--valid-color);
            background-color: var(--valid-color);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 2rem;

    & label {
        cursor: pointer;
        display: block;
        white-space: nowrap;
        font-size: var(--font-size-small);
        padding: 0 0 .5rem;
    }

    & .btn--primary {
        --text-color: var(--color-eerie-black);
        --background-color: var(--color-baby-powder);

        background-color: var(--background-color);
        color: var(--text-color);
        border: 2px solid var(--color-dark-green);

        &:hover {
            --text-color: var(--color-baby-powder);
            --background-color: var(--color-dark-green);
        }
    }

    input[type="email"],
    input[type="text"],
    textarea {
        border: .1rem solid var(--color-eerie-black);
        position: relative;
        width: 100%;
        padding: 1.2rem;
        outline: 0;

        &:focus {
            border-color: var(--color-grey);
            background-color: var(--color-light-grey);
        }
    }

    input[type="text"],
    input[type="email"] {
        padding-right: 3rem;
    }

    /* FORM GROUP */
    .form-field-container {
        position: relative;
    }

    .form-group {
        padding: 1rem;

        .form-help, .form-error {
            line-height: 1.3rem;
            letter-spacing: .019rem;
            color: var(--color-grey);
            font-size: var(--font-size-x-small);
            max-height: 0;
            overflow: hidden;
            transition: .3s;
        }

        .form-error {
            max-height: 20rem;
            margin-top: .4rem;
        }

        &:focus-within {
            transition: .3s;
            background-color: var(--color-light-grey);
            .form-help {
                max-height: 20rem;
                margin-top: .4rem;
            }
        }

        .form-field:has(.form-error) {
            input, textarea {
                border-color: var(--error-color);
            }

            .form-error {
                color: var(--error-color);
            }
        }
    }

    .grow-wrap {
        display: grid;

        &::after {
            content: attr(data-replicated-value) " ";
            font: inherit;
            white-space: pre-wrap;
            border: .1rem solid var(--color-eerie-black);
            position: relative;
            width: 100%;
            padding: 1.2rem;
            outline: 0;
            visibility: hidden;
        }

        & > textarea {
            overflow: hidden;
            resize: none;
        }

        & > textarea,
        &::after {
            grid-area: 1 / 1 / 2 / 2;
        }
    }

}

::placeholder {
    font-style: italic;
    font-size: var(--font-size-small);
}
/* Footer */

.col-1-2 {
    width: 100%;
    margin: 0 0 3rem;
    color: var(--text-color);

    & svg {
        margin-left: .5rem;
    }

    & .nav {
        flex-direction: row;
        overflow: auto;
        max-height: 100%;
        
        .social-item, .footer-nav-item {
            margin-left: 1rem;
        }

        .footer-nav-link {
            color: var(--text-color);
        }
    }
}

.footer {
    --nav-item-font-weight: normal;
    --nav-item-font-size: var(--font-size-small);
    padding: var(--footer-padding);
    
    & .footer-copyright {
        color: var(--text-color);
        font-size: var(--font-size-small);
        text-align: left;
        margin-left: 1rem;
    }

    & ul {
        text-align: center;

        & .social-link {
            display: block;

            & > svg {
                fill: var(--text-color);
            }
        }
    }
}

/** Section Theming **/
[data-section-theme="gold"] {
    --text-color: var(--color-baby-powder);
    background-color: var(--color-dark-green);
}

@media only screen and (min-width: 480px) {
    .nav {
        flex-direction: row;
        overflow: auto;
        max-height: 100%;
    }

    header .menu-icon {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    html {
        font-size: 57%;
    }
    .navbar-menu {
        display: none;
        flex: 1;
    }

    .header-container {
        flex-wrap: wrap;
    }

    .header .menu-icon {
        display: block;
    }

    .header-logo {
        flex-basis: 70%;
    }
}

@media only screen and (max-width: 564px) {
    .section-hero .section-inner {
        & .card-hero {
            justify-content: center;
            height: 30rem;
        }
    }
}

@media only screen and (max-width: 772px) {
    .section-body{
        padding-top: 2rem !important;
    }

    .section-hero .section-inner {

        & .content-inner {
            display: flex;
            grid-column-start: 1;
            grid-column-end: span 2;


            & .subheading, .button-wrapper {
                display: none;
            }
        }

        & .card-hero {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: span 2;
        }
    }
}

@media (min-width: 767px) {
    :root {
        --section-body-padding: 2rem 0 4rem;
        --footer-padding: 5rem 0rem 1rem;
    }

    .col-1-2 {
        width: calc((100% / 2) - 2rem);
        margin: 1rem; 
    }

    .row {
        flex-direction: row;
        margin: -1rem;

        & > li {
            margin: 1rem;
            width: calc((100% / 3) - 2rem);
        }

        & .card-services {

            & .description {
                max-height: 0;
                overflow: hidden;
                transition: .3s;
            }

            &:hover {
                & .card-outer {
                    transform: scale(0.95);
                }

                & .card-services-image {
                    transform: scale(1.2);
                    transition: var(--transition-duration) var(--transition-cubic-bezier);
                }

                & .card-inner {
                    background-color: rgba(0, 0, 0, 0.7);
                }

                & .description {
                    max-height: 20rem;
                    margin-top: 0;
                }

            }

            & .card-inner {
                position: absolute;
            }

            & .card-title {
                opacity: 0;

                & span {
                    --font-color: var(--color-baby-powder);
                    padding: 0;
                    padding-top: 55%;
                }
            }
        }
    }
    .post-comments {
        width: 80%;
        padding-left: 6rem;
    }
}

@media only screen and (min-width: 773px) {
    .section-hero .section-body {
        padding-bottom: 0;
    }

    .section-hero::after {
        margin-top: 0;
    }

    .section-inner .mobile-subheading, .mobile-button-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    html {
        font-size: 60%;
    }

    .header-logo {
        flex-basis: 79%;
    }
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}