{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'analysis/css/auth.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <header>
        <h2>Sign in to your account</h2>
        <p class="tagline">Or
            <a href="/accounts/signup/" class="link link--primary link--bold link--hover">create a new account</a>
        </p>
    </header>
    <main>
        <div class="wrapper shadow">
            {{ form.non_field_errors }}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                    <p class="help" id="{{ field.auto_id }}_helptext">
                        {{ field.help_text|safe }}
                    </p>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="fieldWrapper">
                    <button type="submit" class="btn btn--m btn--primary">Sign in</button>
                </div>
            </form>
            <div class="footer--signin">
                Forgot your password? <a href="{% url 'password_reset' %}" class="link link--primary link--hover">Reset</a> 
            </div>
        </div>
    </main>
</div>
{% endblock content %}